@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@font-face {
  font-family:'lovelace';
  src: url(font/lovelace.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}


/*----navbar----*/
#u
{
    background-color: #EFF1EC;
    overflow-x: hidden;
}
.navbar-brand
{
padding: 25px;
}


/*---imagem modelo---*/

body{
  background-color: #F0F2EE;
}

.form-image 
{
display: flex;
justify-content: right;
position: static;
width: 100%;
height: 558px;
top: 94px;
}


/*--formulario--*/
.formulario
{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  position: static;
  width: 100%;
  left: 80px;
  top: 250px;
}

form
{
  font-family: 'Poppins',Arial, sans-serif;

}

form div
{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form input, textarea
{
  outline: unset;
  padding: 10px;
  width: 810px;
  border:none;
  border-radius: 36px;
  background-color: rgb(255, 255, 255);
}


form input[name=mensagem]
{
padding: 45px;
outline: unset;

}

form input[type=submit]
{
 background-color: black;
 color:white;
 width: 110px;
 height: 45px;
}

form label
{
  margin-left: 10px;
}


/*--responsividade do formulário--*/
@media screen and (max-width: 801px) 
{
   .form-image{
    display:none;
   }

   .formulario{
    width:50%;
    top:40px;
    left:0px;
    position: static;
  }


    form input, textarea
    {
      padding: 10px;
      width: 330px;

    }
    
   
}

@media (max-width:600px){

  form input, textarea
  {
    padding: 10px;
    width: 100px;

  }

  .formulario{
    width:50%;
    top:40px;
    left:0px;
    position: static;
  }
}

@media (max-width:1900px){

  form input, textarea
  {
    padding: 10px;
    width: 810px;

  }

  
}

@media screen and (max-width:1300px) 
{
  form input, textarea
  {
    padding: 10px;
    width: 600px;
  }  
}

@media screen and (max-width:1100px) 
{
  form input, textarea
  {
    padding: 10px;
    width: 400px;
  }  
}

@media screen and (max-width:871px) 
{
  form input, textarea
  {
    padding: 10px;
    width: 290px;
  }  
}

@media screen and (max-width: 383px)
{
  form input, textarea
  {
    padding: 10px;
    width: 250px;
    
  }

  .formulario
  {
  margin-block-end: 190px;
  }
 
}

@media screen and (max-width: 991px) 
{
 .formulario
 {
    display: flex;
    width:100%;
    top:120px;
    left:0px;
    position: static;
  }
  .form-image
  {
    display: none;
  }

  form input, textarea
  {
    width: 850px;
  }

 } 
 @media screen and (max-width: 850px)
{
  form input, textarea
  {
    width: 750px;
  }
}

@media screen and (max-width: 728px)
{
  form input, textarea
  {
    width: 550px;
  }
}

@media screen and (max-width: 550px)
{
  form input, textarea
  {
    width: 450px;
  }
}
@media screen and (max-width: 460px)
{
  form input, textarea
  {
    width: 350px;
  }
}
@media screen and (max-width: 350px)
{
  form input, textarea
  {
    width:300px;
  }
}
@media screen and (max-width: 305px)
{
  form input, textarea
  {
    width:230px;
  }
}
/*--fim do formulario--*/


/*--texto de apresentação--*/
main aside h1{
  color:black;
  line-height: 50px;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-top: 1px;
  width: fit-content;
  height: fit-content;
  max-width: 300px;
  font-family: 'lovelace',Arial, sans-serif;
  text-shadow: 0.1em 0.1em 0.2em rgb(155, 151, 151);
  margin-left: auto;
  margin-right: auto;
}


main aside p{
  font-size: 17,5px;
  color:black;
  margin-top: 5px;
  margin-left: 90px;
  text-align: justify;
  max-width: 750px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.texto{
  
}



/*----respondividade texto----*/
@media screen and (max-width:768px){
  main{
    flex-direction: column;
  }

main{
  align-self: center;
  align-items: center;
}
main aside p{
  font-size: 17,5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
main aside h1{
  color:black;
  line-height: 50px;
  font-weight: 500;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

}


@media (max-width:600px){
  main{
    flex-direction: column;
    align-self: center;
    left: 0px;
  }


main aside p{
  align-items: baseline;
  font-size: 17,5px;
  color:black;
  margin-top: 15px;
  font-weight: 500;
  text-align: justify;
  margin-left:0px;
  font-weight: bold;
}
main aside h1{
  color:black;
  line-height: 50px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
}


}

@media screen and (max-width:1160px)
{
  main aside p 
  {
   max-width: 500px;
  }

  .form-image
  {
    top: 118px;
  }
}
@media screen and (max-width:991px)
{
  h1 
  {
   align-items: center;
  }
  main aside p{
    font-size: 17,5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }
  main aside h1{
    color:black;
    line-height: 50px;
    font-weight: 500;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  
}

/*----fim_responsividade----*/

/*--fim do texto de apresentação--*/
