/* Importar a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Definir a fonte personalizada 'lovelace' */
@font-face {
  font-family: 'lovelace';
  src: url('font/lovelace.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
:root{
  --font-md: 1rem;
}

.wrapper{
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.box{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  width: 80%;
  height: 20vh;
  padding: 10xp;
  background-color: antiquewhite;
  border-radius: 20px;
}

.box p{
  text-align: center;
  font-size: var(--font-md);
  width: fit-content;
  height: fit-content;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imagem{
  width: fit-content;
  height: fit-content;
}

.imagem img{
  display: flex;
  align-items: flex-end;
  right: 0;
  height: 300px;
  width: 300px;
}

.content h2{
  font-size: 25px;
}

.title h1{
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
  }
.title h1{
    color:black;
    line-height: 50px;
    font-weight: 500px;
    font-size: 50px;
    font-family: 'lovelace',Arial, sans-serif;
    text-shadow: 0.1em 0.1em 0.2em rgb(155, 151, 151);
  }

/* Depre.... responsividade */

@media screen and (min-width: 1091px){
  .box{
    height: 38%;
  }
}

@media screen and (max-width: 1300px){
  .box{
    height: 45%;
  }
}

@media screen and (max-width: 1081px){
  .box{
    height: 50%;
  }
}

@media screen and (max-width: 925px){
  .box{
    height: 53%;
  }
}

@media screen and (max-width: 828px){
  .box{
    height: 56%;
  }
}

@media screen and (max-width: 750px){
  .box{
    height: 63%;
  }
}

@media screen and (max-width: 672px){
  .box{
    height: 67%;
  }
}

@media screen and (max-width: 615px){
  .box{
    height: 72%;
  }
}

@media screen and (max-width: 412px){
  .box{
    height: 90vh;
  }
}


@media screen and (max-width: 1024px){
  .box{
    height: 50%;
  }
}

@media screen and (max-width: 725px){
  .box{
    height: 50%;
  }
}


@media screen and (max-width: 1100px){
  .box{
    height: 55%;
  }
}


@media screen and (max-width: 912px){
  .box{
    height: 57%;
  }
}
@media screen and (max-width: 660px){
  .box{
    height: 79%;
  }
}

@media screen and (max-width: 550px){
  .box{
    height: 97%;
  }
}

@media screen and (max-width: 190px){
  .box{
    height: 50%;
  }
}
