body{
    background-color: #F0F2EE;
}

.underline{
    text-decoration: underline;
}

.topbar{
    display: inline-block;
    width: 100%;
    padding: 22px 65px;
    border-bottom: 1px solid #e6e6e6;
    float: left;
}

.topbar .left{
    width: 20%;
    float: left;
}
.topbar .logo{
    float: left;
    width: 60%;
    text-align: center;
}
.topbar .right{
    width: 20%;
    float: left;
    display: flex;
    justify-content: flex-end;
}
.topbar .logo img{
    width: 110px;
    height: auto;
}
.topbar .right img{
    width: 24px;
    float: left;
    margin-right: 15px;
    margin-top: 2px;
}
.topbar .left img{
    width: 20px;
    float: left;
    margin-right: 15px;
    margin-top: 3px;
}

.topbar .left input{
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #F0F2EE;
}
.topbar .left input:focus{
    border-bottom: 1px solid #000;
}
.topbar .left input::placeholder{
    color: #9b9b9b;
    letter-spacing: 1px;
}

.topbar .right .group:first-child{
    margin-right: 50px;
}
.topbar .right a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #9b9b9b;
    font-size: 14px;
    letter-spacing: 4px;
    line-height: 26px;
}

nav{
    display: inline-block;
    width: 100%;
    float: left;
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 25px 35px;
}
nav ul li a{
    position: relative;
    color: #000;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
}

.submenu{
    position: absolute;
    min-width: 250px;
    background-color: #fff;
    box-shadow: 0 5px 12px #ebebeb;
    margin-top: 0;
    margin-left: -15px;
    
    z-index: -99;
    opacity: 0;
    transition: all ease 0.5s;
}

.submenu li{
    display: block;
    text-align: left;
    margin: 15px;
    padding: 0;
}
.submenu li a{
    font-size: 12px;
    font-weight: 600;
}

nav ul li:hover .submenu{
    z-index: 99;
    opacity: 1;
    margin-top: 25px;
}

nav ul li a:after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform ease 0.5s;
}
nav ul li a:hover:after{
    transform: scaleX(1);
    transform-origin: left;
}

.banner{
    position: relative;
    display: inline-flex;
    width: 100%;
    overflow: hidden;
}

.banner .text{
    width: 54%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner .boas-vindas{
    margin-bottom: 20px;
}

.banner .button a{
    background-color: black;
    color: white;
    width: 200px; 
    cursor: pointer;
    padding: 10px;
    text-align: center;
    border-radius: 36px;
}

.banner .boas-vindas h1{
    color:black;
    line-height: 50px;
    font-weight: 500;
    font-size: 50px;
    font-family: 'lovelace',Arial, sans-serif;
    text-shadow: 0.1em 0.1em 0.2em rgb(155, 151, 151);
}

.banner .img{
    display: flex;
    width: 39%;
}
.banner .img img{
    width: 100%;
}

.bag{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 100;
    
    background-color: #00000040;
    display: none;
}

.open{
    display: block!important;
}

.bag-sidebar{
    position: relative;
    top: 0;
    float: right;
    width: 600px;
    min-height: 100vh;
    background-color: #fff;
    overflow-y: auto;
}

.bag-sidebar .bag-title h4{
    font-size: 28px;
    font-weight: 500;
    padding: 40px 30px 20px;
    border-bottom: 1px solid #dbdbdb;
}
.bag-sidebar .bag-body{
    padding: 30px 0;
    background-color: #F0F2EE;
    height: 100%;
}
.bag-sidebar .bag-item{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 30px;
}
.bag-sidebar .bag-item:last-child{
    display: inline-block;
    width: 100%;
    padding: 0 30px;
}
.bag-sidebar .bag-item .img{
    width: 121px;
    float: left;
}
.bag-sidebar .bag-item .img img{
    width: 100%;
}
.bag-sidebar .bag-item .text{
    width: 70%;
    height: 121px;
    float: left;
    padding: 10px 20px;
    background-color: #E1D9CE;
    white-space: nowrap; 
    overflow: hidden; 
}
.bag-sidebar .bag-item .bag-info h5{
    font-size: 22px;
    font-weight: 900;
    display: block;
    margin-bottom: -6px;
}
.bag-sidebar .bag-item .text h3{
    font-size: 16px;
    font-weight: lighter;
    display: block;
}
.bag-sidebar .bag-item .bag-price h5{
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
    font-family: 'lovelace', 'arial', 'comic sans';
}
.bag-sidebar .bag-item .text span{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 18px;
}
.bag-sidebar .bag-info{
    border-bottom: 1px solid #000;
}

.bag-sidebar .text img{
    width: 25px;
}

.bag-sidebar .right{
    float: right;
}

.bag-buy{
    background-color: #ffffff;
    height: fit-content;
    width: 100%;
    padding: 20px 100px;
    position: absolute;
}

.bag-buy .cupom{
    background-color: #ffffff;
    margin-bottom: 20px;
}

.bag-buy h4{
    font-size: 18px;
    font-weight: 900;
}
.bag-buy h3{
    font-size: 18px;
}

.bag-buy img{
    width: 25px;
    margin-right: 10px;
}

.bag-buy .itens{
    display:  flex;
    margin-bottom: 10px;
}

.bag-buy .group{
    display: inline-flex;
}

.bag-buy .left{
    width: 65%;
    float: left;
}

.bag-buy .right{
    float: left;
    display: flex;
    justify-content: flex-end;
}

.bag-buy .bag-end{
    width: 100%;
    padding: 10px 10%;
}

.bag-buy .continue{
    display: inline-block;
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
}

.bag-sidebar .btn{
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 50px;
}
.close-icon{
    position: absolute;
    right: 36.3rem;
    top: 5.1rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    z-index: 101;

    border-radius: 50%;
    background-color: #000;
}
.close-icon img{
    width: 60%;

    margin: auto;
    display: block;
}

footer{
    flex-shrink: 0;
    background-color: #F8FAF5;
    padding: 50px 0;
    width: 100%; 
    bottom: 0;
    left: 0;
    margin-top: 40px;
    
  }  
  .container-footer{
    width: 100%;
    padding: 0 4%;
    margin: auto;
  }
  .row-footer{
    display: flex;
    flex-wrap: wrap;
  } 
.footer-col{
   width: 20%;
   padding: 0 15px;
}
.footer-col h6{
    font-size: 11,5px;
    color:black;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}
.footer-col ul{
  list-style: none;
}
.footer-col ul li{
  margin: 10px 0;
}
.footer-col ul li a{
  font-size: 11,5px;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease ;
  text-decoration: none;
  color: #6d6d6d
}
.footer-col ul li a:hover{
  color:#000000 ;
  padding-left: 10px; 
}
.footer-sub{
  font-size: 11,5px;
  color:black;
  margin-top: 80px;
  font-weight: 500;
  position: relative;
}
.footer-sub button{  
width: 100%;
margin-top: 0px;
padding: 10px;
font-size: 11,5px;
outline: none;
border: none;
cursor: pointer;
color: white;
border-radius: 30px;
background-color: #000000;
}
.footer-col a img {
  all: unset;
  cursor: pointer;
  outline: revert;
  height: -100px; 
  width: 70%;
  padding: 10px;
  margin-top: 60px;
  position: relative;
}

.fim-pag{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background-color: #00000040;
    padding-bottom: 70px;
}

.fim-pag form{
    padding: 20px;
    width: 700px;
    background-color: #ffffff;
}

.fim-pag form .row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.fim-pag form .col{
    flex: 1 1 250px;
}

.fim-pag form .title{
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
}

.fim-pag form .inputBox{
    margin: 15px 0;
}
.fim-pag form .inputBox span{
    margin-bottom: 10px;
    display: block;
}

.fim-pag form .inputBox input{
    width: 100%;
    border: #000 1px solid;
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

.fim-pag form .flex{
    display: flex;
    gap: 15px;
}

.fim-pag form .flex .inputBox{
    margin-top: 5px;
}

.fim-pag form .inputBox .image{
    height: 40px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}
.fim-pag form .inputBox .image img{
    width: 100%;
    height: 100%;
}

.fim-pag form .submit-btn{
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background-color: #000;
    color: #ffffff;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 50px;
}

/*---responsividade---*/
@media (max-width:800px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
  .footer-col a img {
    width: 40%;
  }
} 
@media (max-width:600px){
  .footer-col{
    width: 100%;
  }
 
}