.title{
    text-align: center;
    font-size: 50px;
    margin-left: 40px;
    font-family: 'lovelace';
    text-shadow: 0.1em 0.1em 0.2em rgb(155, 151, 151)
}

.content{
    margin-left: 20px;
}

.content .form-text{
    width: 60%;
    padding: 10px;
}

.content .subtitle{
    font-size: 20px;
    margin-bottom: 10px;
}

.content input{
    width: 100%;
    border-radius: 20px;
    padding: 8px;
    padding-left: 15px;
    margin-bottom: 20px;
}

.content .desc{
    height: 80px;
    border-radius: 40px;
}

.form2{
    display: flex;
}

.form2 .form-box{
    margin-right: 15%;
}

.form2 .quantidade .btn{
    margin: 0;
}
.form2 .quantidade .tag{
    margin: 0;
}

.form2 .quantidade .radios{
    width: 100px;
}

.form2 .radios .radio-item{
    display: flex;
}

.form2 .radio-item .label,
.form2 .radio-item input{
    display: flex;
    width: fit-content;
    margin-bottom: 5px;
}

.form2 .radio-item .label{
    margin-left: 10px;
}

.form2 .radio-item input{
    transform: scale(1.5);
}

.form2 .tamanhos{
    display: inline-flex;
}
.form2 .tamanhos .checkboxes{
    margin-right: 20px;
}

.form2 .checkboxes .radio-item{
    display: flex;
}

.content .form-img{
    width: 48%;
    margin-left: 10px;
}

.images{
    display: inline-flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.images .img{
    width: 23%;
}

.images img{
    width: 100%;
}

.form-img .group{
    display: inline-flex;
}

.form-img .btn{
    margin-right: 40px;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: lighter;
    border-radius: 100px;
    margin-bottom: 10px;
    cursor: pointer;
}