.editar-anuncio{
    margin-left: 20px;
    margin-right: 20px;
}

.editar-anuncio .title{ 
    margin-bottom: 15px;
    margin-right: 30px;
}
.editar-anuncio .title h1{ 
    font-size: 55px;
    font-family: 'lovelace', 'arial', 'comic sans';
    text-transform: uppercase;
    color: #2c2c2c;
}

.form{
    margin-left: 10px;
}

.editar-anuncio .form .vertical-group{ 
    margin-bottom: 8px;
}

.editar-anuncio .form .label{ 
    margin-bottom: 5px;
}
.editar-anuncio .form .label p{ 
    font-size: 18px;
}

.editar-anuncio .form input{ 
    width: 50%;
    border-radius: 20px;
    padding: 8px;
    padding-left: 15px;
}
.editar-anuncio .form .descricao{ 
    padding: 20px;
    padding-left: 15px;
    border-radius: 30px;
}

.editar-anuncio .button{
    display: inline-flex;
    width: 100%;
}
.editar-anuncio .button .btn{ 
    margin-right: 40px;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    border-radius: 100px;
    margin-bottom: 10px;
    cursor: pointer;
}

.editar-anuncio .image{
    position: absolute;    
    width: 38%;
    right: 0px;
    bottom: -20px;
}
.editar-anuncio .image img{
    width: 100%;
}