@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@font-face {
  font-family:'lovelace';
  src: url(font/lovelace.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

.content{
  margin-left: 20px;
}

.content .box{
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*--comandos de css usado para a fonte lovelace, neste caso o titulo que seria: "CRIE SUA CONTA"--*/

.title{
  text-align: center;
}
.title h1{
color:black;
line-height: 50px;
font-weight: 500;

margin-left: 200px;
max-width: 600px;
font-size: 50px;
font-family: 'lovelace',Arial, sans-serif;
text-shadow: 0.1em 0.1em 0.2em rgb(155, 151, 151);
}

 .p1 {
    display: flex;
    width: 100%;
}

.esquecisenha a {
    color: black;
}

.naotemconta1 a, a {
    color: black;

}


/*--comandos dados para a exibição geometrica do formulario-*/


/*--comandos dados para a exibição do formulario de acordo com o wf-*/
.formularioentrar
{
  width: 100%;
  font-family: 'Poppins',Arial, sans-serif;
}

/*--comandos dados para o formulario em questões de tamanho/ usado para os outros em questoes de cor...-*/
form input, textarea
{
  outline: unset;
  padding: 10px;
  width: 810px;
  border:none;
  border-radius: 36px;
  background-color: rgb(255, 255, 255);
}

.buttons {
    display: inline-flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row-reverse;
  }
  
  form input[type=submit],
  form input[type=button] {
    background-color: black;
    color: white;
    height: 45px;
    width: 150px; 
    margin-right: 10px;
    cursor: pointer;
  }

