.novidades{
    position: relative;
    display: inline-block;
    width: 100%;
}

.novidades .title{
    margin-bottom: 20px;
    text-align: center;
}
.novidades .title h1{
    font-size: 50px;
    font-family: 'lovelace','arial','comic sans';
    text-transform: uppercase;
    text-shadow: 0.1em 0.1em 0.2em rgb(155, 151, 151);
}

.produtos .subtitle h2{
    margin-left: 20px;
    font-size: 40px;
    font-family: 'lovelace','arial','comic sans';
    margin-bottom: 30px;
}

.produtos-container{
    justify-content: center;
    justify-items: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 20px;
}

.produtos .produtos-item{
    width: 90%;
    justify-content: center;
    display: grid;
}

.produtos .produtos-item .img{
    width: 300px;
    height: 420px;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
}
.produtos .produtos-item .img img{
    height: 100%;
}

.produtos .produtos-item .name{
    text-align: center;
    margin-top: 18px;
}
.produtos .produtos-item .name h3{
    font-weight: lighter;
    font-size: 16px;
    text-wrap: wrap;
}

.produtos .produtos-item .preco{
    text-align: center;
}
.produtos .produtos-item .preco p{
    font-family: 'lovelace', 'arial', 'comic sans';
    font-size: 24px;
}