/* Importar a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Definir a fonte personalizada 'lovelace' */
@font-face {
  font-family: 'lovelace';
  src: url('font/lovelace.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Estilizar o cabeçalho */
    /**fonte escrita:texto como surgimos**/
    .p1{
        display: inline-flex;
        background-color: #E1D9CE;
        border-radius: 35px;
        padding: 20px 0;
        width: 100%;
      }

    .nomedaloja{
        line-height: 100px;
        font-weight: bold;
        text-align: left;
        width: 100%;
        padding: 15px;
        font-size: 22px;
       margin-left: 5px;
       margin-right: 100px;
    }

    .descricao {
        line-height: 40px;
        font-weight: 20;
        text-align: right;
        padding: 15px;
        font-size: 13px;
        letter-spacing: 5px;
        width: 100%;
        float: left;
        display: flex;
        justify-content: flex-end;
    }
  .descmodelos1{
    display: inline-block; 
    line-height: 45px;
    font-weight: 20;
    text-align: center;
    line-height: 22px;
    word-wrap: break-word;
    margin-top: 10px;
  }
  .preco1 {
    display: inline-block;
    color: black;
    line-height: 50px;
    font-weight: 500;
    text-align: center;
    font-family: 'lovelace', Arial, sans-serif;
    font-size: 24px;
  }
  
  
    .imgmenor {
      min-width: 150px;
      height: 150px; 
      margin-left: 50px;
    }
    .imgmenor img{
      width: 100%;
      height: 100%;
      border-radius: 100px;
  }

  .vitrine{
    width: 300px;
    height: 420px;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
  }

  .vitrine .imgmodelo1 {
    height: 100%;
  }
.products-container{
  justify-content: center;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4 ,1fr);
}

.products .products-title{
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 0;
  color: black;
  line-height: 50px;
  font-weight: 500;
  font-family: 'lovelace', Arial, sans-serif;
  font-size: 24px;
}

.products .products-item{
  display: flex;
  margin-right: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.products .products-item input{
  display: none;
}
.products .products-item label{
  cursor: pointer;
}

#event-description{
  margin-right: 25px;
  margin-left: 25px;
}

@media (max-width:1360px){
    .products-container{
      grid-template-columns: repeat(2,1fr);
    }

}